.display {
  width: 100%;
  padding: 10px;
  font-size: 24px;
  border: none;
  background-color: #222;
  color: #fff;
  outline: none;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(162, 1, 1, 0.1); 
}